@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Inter:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: IBM Plex Sans, Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  background: var(--shape-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color-roxo: #41414c;
  --main-color-orange: #f1972c;

  --secondary-color-red: #eb3b35;
  --secondary-color-green: #36b336;

  --text-color-h1: #5a5a66;
  --text-color-h2: #787880;
  --text-color-complement: #bfbfcc;

  --shape-green-low: #e8f8e8;
  --shape-red-low: ##faeceb;
  --shape-corner: ##e1e3e6;
  --shape-lines: ##e1e3e5;
  --shape-background: #f0f2f5;
  --shape-box: #fcfdff;
}
